<footer>
     <div class = "footerContainer">
          <div class = "line"></div>
          <div class = "socialsContainer">
               <a  href="https://www.instagram.com/"><img class = "social-icon" src="socialLogos/instagram.svg" alt=""></a>
               <a  href="https://www.linkedin.com/company/m10-ai/"><img class = "social-icon" src="socialLogos/linkedin.svg" alt=""></a>
               <a  href="https://github.com/M10-AI"><img class = "social-icon" src="socialLogos/github.svg" alt=""></a>
               <a  href="https://discord.com/invite/pNfNnhus3p"><img class = "social-icon" src="socialLogos/discord.svg" alt=""></a>
          </div>
          <div class = "emailContainer">
               <img class = "social-icon" src = "socialLogos/gmail.svg" alt="">
               <a class = "emailLink" href="mailto:m10ai@proton.me">{{email}}</a>
          </div>
     </div>
</footer>
