<header>
    <div class = "headerContainer">
        <a routerLink = "" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact:true}" class = "route">
            <img src="logo.webp" alt="M10AI Logo" class = "logo">
        </a>
        <nav>
            <a routerLink = "" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact:true}" class = "route">Home</a>
            <a routerLink = "timeline" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact:true}" class = "route" >Timeline</a>
            <a routerLink = "about-us" routerLinkActive = "active" [routerLinkActiveOptions] = "{exact:true}" class = "route" >About Us</a>
        </nav>
        <div class = "spacing"></div>
    </div>
</header>
