.container{
    display: flex;
    flex-direction: column;   
}

@media (max-width:400px){
    .quote {
        font-size:1.5rem; 
    }
}

.timelineContainer {
    display: flex;
    gap : 10%; 
    justify-content: center;
}

.timelineSection, .timelineBarContainer,
.leftHappeningContainer, .rightHappeningContainer {
    display: flex;
    flex-direction: column;

}

.leftHappeningContainer, .rightHappeningContainer {
    margin-top: 1rem; /*Padding to align with the first circle of the timeline*/
    gap : 1rem; 
}

.timelineSection {
    align-items: center;
    position: relative;
}

.timelineBar {
    background: linear-gradient(to bottom, rgb(247, 153, 13), rgb(144, 40, 240)); 
    width: 0.25rem;   
     
}

.timelineCircle {
    background-color: rgb(247, 153, 13);
    border-radius: 50%;
    width: 1rem;
    height: 1rem; 
    z-index: 50;  
    box-shadow: 0 0 1rem 1rem rgba(152, 103, 18, 0.25);
}

.happeningContainer {
    display : flex; 
    flex-direction: column;
}
.spacing {
    width: 100%; 
    margin-bottom: 1rem;
}

.happening {
    margin-bottom: 1rem;
    height: 70%;    
    position: relative;
    width: 20%;

}

.textBox {
    width: 10rem; 
    height: 7rem;  
}

@media (max-width:300px){
    .textBox{
        width: 6rem;
        height: 6rem;
    }
}

