<main>
    <div class = "background"></div>
    <div class = "container">

        <div class = "titleContainer">
            <h1 class = "title" >About M10AI</h1>
        </div>

        

        <div class = "textBoxContainer">
            <div class = "scalableBox">       
                <div class = "textBox aboutUsTextBox">
                        <h3 class = "textBoxTitle"> Origin </h3>
                        It all began over lunch at Gothenburg University. Alejandro and Shariq, 
                        two students passionate about AI, envisioned a space for students to explore and innovate in AI. 
                        That vision became M10 AI, a student-led association. Since its founding, M10 AI has hosted workshops
                         on machine learning and explored topics like blockchain, growing into a hub for AI enthusiasts.

                        
                </div>
            </div> 

            <div class = "scalableBox">  
                <div class = "textBox   aboutUsTextBox">
                        <h3 class = "textBoxTitle"> What we do</h3>
                        The AI Student Organization at the University of Gothenburg empowers students to explore and 
                        innovate in artificial intelligence. Through workshops, hackathons, and industry connections,
                        it fosters collaboration, skill development, and real-world problem-solving in AI.
                </div>
            </div> 
        </div>

       
        <div class = "titleContainer quoteContainer">
            <h1 class = "quote" >"Rome was not built in one day..."</h1>
            <h2 class = "subTitle">- Someone</h2>
        </div>


        <div class = "timelineContainer" *ngIf="!smallTimeline">

            <div class = "leftHappeningContainer">
                <div class = "happeningContainer" *ngFor="let happening of timeline.happenings let i = index" 
                        [style.height]="timeline.happeningHeight">
                    <div class = "scalableBox happening" *ngIf="i % 2 == 0" >
                        <div class = "textBox">
                            <h3 class = "textBoxTitle"> {{happening.date}}</h3>
                            {{happening.name}}
                        </div>
                    </div>
                </div>
            </div>

            <div class = "timelineBarContainer">
                <div class = "timelineCircle"></div>
                <div class = "scalableBox timelineSection" *ngFor="let happening of timeline.happenings">
                    <div class = "timelineBar" [style.height]="timeline.happeningHeight"></div>
                    <div class = "timelineCircle"></div>
                </div>
            </div>

            <div class = "rightHappeningContainer">
                <div class = "happeningContainer" *ngFor="let happening of timeline.happenings; let i = index" 
                [style.height]="timeline.happeningHeight">
                    <div class = "scalableBox happening" *ngIf="i % 2 == 1" >
                        <div class = "textBox">
                            <h3 class = "textBoxTitle"> {{happening.date}}</h3>
                            {{happening.name}}</div>
                    </div>
                </div>
            </div>
        </div>

        <div class = "timelineContainer" *ngIf="smallTimeline">

            <div class = "leftHappeningContainer">
                <div class = "happeningContainer"  *ngFor="let happening of timeline.happenings" 
                        [style.height]="timeline.happeningHeight">
                    <div class = "scalableBox happening" >
                        <div class = "textBox">
                            <h3 class = "textBoxTitle"> {{happening.date}}</h3>
                            {{happening.name}}
                        </div>
                    </div>
                </div>
            </div>

            <div class = "timelineBarContainer">
                <div class = "timelineCircle"></div>
                <div class = "scalableBox timelineSection" *ngFor="let happening of timeline.happenings">
                    <div class = "timelineBar" [style.height]="timeline.happeningHeight"></div>
                    <div class = "timelineCircle"></div>
                </div>
            </div>

        </div>

    </div>
</main>
