<main>
    <div class = "color"></div>
    <div class = "container">

        <div class = "titleContainer">
            <h1 class = "quote" >"Rome was not built in one day..."</h1>
            <h2 class = "subTitle">- John Heywood</h2>
        </div>


        <div class = "timelineContainer">

            <div class = "leftHappeningContainer">
                <div class = "happeningContainer" *ngFor="let happening of happenings; let i = index" [style.height]="timeline.getHappeningHeight()">
                    <div class = "scalableBox happening" *ngIf="i % 2 == 0" >
                        <div class = "textBox">
                            <h3 class = "textBoxTitle"> {{happening.date}}</h3>
                            {{happening.name}}
                        </div>
                    </div>
                </div>
            </div>

            <div class = "timelineBarContainer">
                <div class = "timelineCircle"></div>
                <div class = "scalableBox timelineSection" *ngFor="let happening of happenings">
                    <div class = "timelineBar" [style.height]="timeline.getHappeningHeight()"></div>
                    <div class = "timelineCircle"></div>
                </div>
            </div>

            <div class = "rightHappeningContainer">
                <div class = "happeningContainer" *ngFor="let happening of happenings; let i = index" [style.height]="timeline.getHappeningHeight()">
                    <div class = "scalableBox happening" *ngIf="i % 2 == 1" >
                        <div class = "textBox">
                            <h3 class = "textBoxTitle"> {{happening.date}}</h3>
                            {{happening.name}}</div>
                        </div>
                </div>
            </div>
        </div>

        
    </div>
</main>
