<main>
    <div class = "color"></div>
    <div class = "titleContainer">
        <h1 class = "title">M1θ</h1>
        <h2 class = "subTitle">-ARTIFICIAL INTELLIGENCE-</h2>
    </div>

    <div class = "contentContainer">
        <div  id = "box1" class = "scalableBox">       
            <div class = "textBox">
                    <h3 class = "textBoxTitle"> The Future</h3>
                    AI is the future because it drives innovation, boosts efficiency, and solves complex problems. By automating tasks and enabling smarter decisions,
                    it reshapes industries and unlocks human potential for greater creativity and impact.
            </div>
        </div> 
        <div id = "box2" class = "scalableBox">  
            <div class = "textBox">
                    <h3 class = "textBoxTitle"> Who are we</h3>
                    The AI Student Organization at the University of Gothenburg empowers students to explore and 
                    innovate in artificial intelligence. Through workshops, hackathons, and industry connections,
                     it fosters collaboration, skill development, and real-world problem-solving in AI.
            </div>
        </div> 
        <div id = "box3" class = "scalableBox">  
            <div class = "textBox">
                <h3 class = "textBoxTitle"> Contact us</h3>
                See our socials bellow. We are open to diverse partnerships to accelerate our development!
            </div>
        </div> 
    </div>
</main>