<main>
    <div class = "container">
        <div class = "background"></div>
        <div class = "titleContainer">
            <h1 class = "title">M1θ</h1>
            <h2 class = "subTitle">-ARTIFICIAL INTELLIGENCE-</h2>
        </div>


        <div class = "textBoxPictureContainer">
            <img class = "scalableBox eventPoster" src="eventposters/gaiaPoster.jpg" alt="Gaia Poster">
            <div class = "scalableBox">
                <div class = "textBox">
                    <h3 class = "textBoxTitle"> Up and comming : GAIA</h3>
                    On the 10th of April M10 AI will be hosting the workshop: 
                    The Bot-om Line: Agentic AI for Customer Service, 
                    a workshop on how to build AI Agents for customer support.
                </div>
            </div>
        </div>

        
    </div>
</main>