<main>
    <div class = "background"></div>
    <div class = "container">
        <div class = "titleContainer">
            <h1 class = "title" >About M10AI</h1>        
        </div>

        <div class = "textBoxPictureContainer">
            <div class = "scalableBox">
                <div class = "textBox">
                    <h3 class = "textBoxTitle"> The Future</h3>
                    AI is the future because it drives innovation, boosts efficiency, and solves complex problems. By automating tasks and enabling smarter decisions,
                    it reshapes industries and unlocks human potential for greater creativity and impact.
                </div>
            </div>
            <img class = "scalableBox eventPoster" src="eventposters/event1poster.webp" alt="">
        </div>

        <div class = "textBoxPictureContainer">
            <img class = "scalableBox eventPoster" src="eventposters/event2poster.webp" alt="">
            <div class = "scalableBox">
                <div class = "textBox">
                    <h3 class = "textBoxTitle"> The Future</h3>
                    AI is the future because it drives innovation, boosts efficiency, and solves complex problems. By automating tasks and enabling smarter decisions,
                    it reshapes industries and unlocks human potential for greater creativity and impact.
                </div>
            </div>
        </div>

        <div class = "textBoxContainer">
            <div class = "scalableBox">
                <div class = "textBox">
                    <h3 class = "textBoxTitle"> The Future</h3>
                    AI is the future because it drives innovation, boosts efficiency, and solves complex problems. By automating tasks and enabling smarter decisions,
                    it reshapes industries and unlocks human potential for greater creativity and impact.
                </div>
            </div>
            <div class = "scalableBox">
                <div class = "textBox">
                    <h3 class = "textBoxTitle"> The Future</h3>
                    AI is the future because it drives innovation, boosts efficiency, and solves complex problems. By automating tasks and enabling smarter decisions,
                    it reshapes industries and unlocks human potential for greater creativity and impact.
                </div>
            </div>
            <div class = "scalableBox">
                <div class = "textBox">
                    <h3 class = "textBoxTitle"> The Future</h3>
                    AI is the future because it drives innovation, boosts efficiency, and solves complex problems. By automating tasks and enabling smarter decisions,
                    it reshapes industries and unlocks human potential for greater creativity and impact.
                </div>
            </div>
        </div>

    </div>
</main>
